.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static librarises
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python cache
python/__pycache__
python/tests/__pycache__

# Python build artifacts
python/build
python/src

# Visual Studio 2017 temporary files
*.vcxproj.user
vs2017/.vs
vs2017/Debug
vs2017/Release
vs2017/x64
