useDynLib(XBART, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, predict, pnorm, quantile, runif, sd)
importFrom(tools, psnice)
S3method(predict, XBART)
S3method(predict, XBARTmultinomial)
S3method(predict, XBCF)
