useDynLib(XBART, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(stats, ar, cor, lm, predict, pnorm, qnorm, qchisq, quantile, residuals, runif, sd)
importFrom(tools, psnice)
S3method(predict, XBART)
S3method(predict, XBARTmultinomial)